@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Components.Web

<div style="border: 2px solid red; padding: 10px;">
    <h2>App.razor is rendering</h2>
    <p>If you see this, the Blazor app is working.</p>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-file-pdf"></i> Form 2257 System
        </a>
        <button class="navbar-toggler" type="button" title="Menu" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/api/status">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/health">Health</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<Routes />
